.container-about{
  background-color: #ffffff;
  font-size: 16px;
  display: block;
}

.container-header{
  display: inline-block;
  padding: 0.3rem 0.5rem  ;
  background-color: #192a5e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.container-details{
  display:flex;
  gap: 1rem;
  align-items: stretch;
  padding: 0.6rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #192a5e;

}

.image {
  flex: 0.3;
  display: flex;
}

.about-text {
  flex: 0.7;
  gap: 0.5rem;
  font-size: 14px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-header {
  font-size: 16px;
}

.details-para {
  margin-bottom: 0;
}

