<div class="footer">
  <div>Impressum</div>
  <div>Kontakt</div>
  <div>Datenschutz</div>
  <div>AGB</div>
</div>
<div class="footer-text">
  <p>
    © 2026 - Tarifvergleich.Bayern. Das Vergleichsportal.<br>
    Hier können Verbraucherinnen und Verbraucher kostenlos Tarife und Produkte im Bereich Energie (Strom und Gas)
    vergleichen.<br>
    Tarifvergleich.Bayern legt größte Sorgfalt auf Vollständigkeit und Richtigkeit der dargestellten Informationen,
    übernimmt aber keine Gewähr für diese oder die Leistungsfähigkeit der Anbieter.
  </p>
</div>
