<ng-template #infoDialog let-dialogRef="dialogRef">
  <div class="dialog-box">
    <div class="dialog-header">
      <mat-icon (click)="dialog.closeAll()">close</mat-icon>
    </div>
    <div class="dialog-content" [innerHTML]="currentDialogText">
    </div>
  </div>
</ng-template>



<div class="compare-all">
  <div class="compare-price">
    <div class="container-address">
      <div class="feature-header">Ladestrom | Autostrom-Vergleich</div>
      <div class="feature-grid">
        <div class="row row-1">
          <input type="text" placeholder="Ihre Postleitzahl" class="box small">
          <div class="input-arrow">
            <input type="text" placeholder="Ottobeuren" class="box large">
          </div>
        </div>
        <div class="row row-2">
          <input type="text" placeholder="Ihre Straße" class="box large">
          <input type="text" placeholder="Hausnummer" class="box small">
        </div>
      </div>
      <div class="feature-header1">
        <div class="header-row">
          Haben Sie einen separaten Stromzähler für Autostrom bzw. Ladestrom?
          <mat-icon class="info-icon-home" (click)="openInfo(infoDialog, ladestrom)">info_i
          </mat-icon>
        </div>
      </div>
      <div class="container-button">
        <div class="container-option">
          <button class="btn-button ja" [ngClass]="{ active: selectedOption === 'ja' }" (click)="select('ja')"> Ja
          </button>
          <button class="btn-button nein" [ngClass]="{ active: selectedOption === 'nein' }" (click)="select('nein')">
            Nein </button>
        </div>
      </div>

      <!-- Show when JA -->
      <div class="container-ja" *ngIf="selectedOption === 'ja'">
        <div class="feature-header1">Bitte gesamten Ladestrom-Verbrauch in kWh / Jahr eingeben
        </div>
        <div class="container-per-year">
          <div class="container-consumption">
            <input type="text" class="consumption-number" placeholder="1600">
            <span class="watt-per-year">kWh / Jahr (NT)</span>
          </div>
        </div>

        <div class="container-compare">
          <button class="compare"> Jetzt Vergleichen</button>
        </div>
      </div>
    </div>

    <div class="container-nein" *ngIf="showNoBanner">
      <div class="close-banner" (click)="closeNoBanner()">X</div>
      <div>
        <div class="feature-header-no">
          Aufgepasst beim Wechsel - Für Wärmepumpen-Strom.
        </div>
        <div class="container-description">
          <div class="container-message">
            <div class="message">Ohne separaten Zähler nutzen Sie bitte unseren Stromvergleich für den gesamten
              Haushalt.</div>
            <div class="message">Hier gehts zum <a href="#">Stromvergleich für den gesamten Haushalt</a>.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-callback">
      <div class="container-wish">
        <span><strong>Wünschen Sie eine persönliche Erstberatung per Telefon?</strong>
          <br>
          <span class="center-text">Dann fordern Sie jetzt Ihren Rückrufwunsch an.</span>
        </span>
      </div>
      <div class="item-callback">
        <button class="callback"> Rückruf anfordern
        </button>
      </div>
    </div>

  </div>

  <div class="container-provider">
    <div class="compare-provider">
      <h1 class="item-provider">Ladestromanbieter</h1>
      <h1 class="item-provider">vergleichen</h1>
    </div>
    <div class="discount-price">
      <div class="item-discount-top">
        <span class="item-price">Bis zu </span>
      </div>
      <div class="item-discount">
        <span class="amount">25%</span>
      </div>
      <div class="item-discount-bottom">
        <span class="item-price">sparen
          <mat-icon class="info-icon" (click)="openInfo(infoDialog, discountinfo)">
            info_i
          </mat-icon>
        </span>
      </div>
    </div>
  </div>
</div>
