.electricity {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  box-sizing: border-box;
  border: 1px solid #003366;
  font-weight: 500;
  border-radius: 8px;
  width: 100%;
}

/* Each icon button */
.icon-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 500;
  border: none !important;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background-color: #003366;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 6px;
  height: 32px;

}

/* Hover effect */
.icon-btn:hover {
  background-color: #1976d2;

}

/* Optional: active state */
.icon-btn.active {
  color: #1976d2;
}

.icon {
  height: 20px;
  width: 15px;
}

.icon-cable {
  height: 20px;
  width: 13px;
  padding-right: 2px;
}

.icon-pump {
  height: 15px;
  width: 15px;
}

.btn-text {
  padding-bottom: 0.2rem;
}


@media (max-width: 768px) {
  .icon-btn {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .electricity {
    padding: 0.5rem 1rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 3rem;
  }

}

@media (max-width: 480px) {
  .icon-btn {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .electricity {
    padding: 0.5rem 1rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 3rem;
  }
}
