.container-address {
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding-bottom: 0.6rem;
  border: 1px solid #00a651;
  border-radius: 8px;
  margin-bottom: 1.8rem;
}

.container-callback {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.75);
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #ff6b00;
  padding: 0.6rem;
}

.feature-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.5rem 0.4rem 0.5rem;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #00a651;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.feature-header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #00a651;

}

.feature-grid {
  display: grid;
  gap: 0.6rem;
  padding: 0.5rem;
}

.row {
  display: grid;
  gap: 0.6rem;
}

.row-1 {
  grid-template-columns: 0.6fr 1.4fr;
}

.row-2 {
  grid-template-columns: 1.4fr 0.6fr;
}


.box {
  width: 100%;
  padding: 0.4rem 0.3rem;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #a1a0a0;
  color: #a1a0a0;
  background-color: #f8f9fa;
}

.input-arrow {
  position: relative;
}

.input-arrow .box {
  padding-right: 34px;
}

.input-arrow::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #333;
  pointer-events: none;
}



.container-person{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.compare-person{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.person-option{
  display: inline-flex;
  gap: 0.8rem;
  align-items: center;
  padding-top: 0.3rem;
}

.person{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.person {
  color: #003366;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.person:hover .icon-family-1, .person:hover .icon-family-2, .person:hover .icon-family-3,
.person:hover .icon-family-4, .person:hover .icon-family-6 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1482%) hue-rotate(198deg) brightness(95%) contrast(96%);
}

.icon-family-1 {
  height: 30px;
  width: 12px;
  color: #003366;
}

.icon-family-2 {
  height: 30px;
  width: 25px;
}

.icon-family-3{
  height: 30px;
  width: 35px;
}

 .icon-family-4 {
  height: 30px;
  width: 45px;
}

.icon-family-6 {
  height: 30px;
  width: 65px;
}

/* count badge */
.person-count {
  width: 3rem;
  padding: 0.3rem 1rem 0.4rem 1rem;
  background-color: #003366;
  color: #ffffff;
  font-size: 16px;
  transition: background-color 0.2s ease;
  border-radius: 8px;
}

/* hover ONLY affects icon + count */
.person:hover .person-icon {
  color: rgba(25, 118, 210, 0.15);
  color: #1976d2;
}

.person:hover .person-count {
  background-color: #1976d2;
}


.total-consumption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.consumption-number{
  flex: 1;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  padding: 0.4rem 0.7rem;
  border: 1px solid #4a4949;
  width: 18rem;
}

.container-compare{
  display: flex;
  align-items: center;
}

.compare{
  border: none;
  font: inherit;
  font-weight: 500;
  outline: none;
  color: #f8f9fa;
  background-color: #0085e0;
  transition: background-color 0.2s ease;
  padding: 0.2rem 0.2rem 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 8px;
  width: 24.5rem;
}

.compare:hover{
  background-color: #1976d2;
}

.container-wish{
  font-size: 16px;
  color: #1a1a1a;
  align-items: center;
  padding-bottom: 0.6rem;
}

.center-text {
  display: block;      /* makes it act like a line */
  text-align: center;  /* centers only this line */
}

.container-wish strong {
  font-weight: 700;
}


.callback{
  border: none;
  font: inherit;
  font-weight: 500;
  outline: none;
  color: #f8f9fa;
  background-color: #ff6b00;
  padding: 0.2rem 1rem 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.callback:hover {
  background-color: #e68830ef;
}
