.main-container-service{
  background-color: #ffffff;
  font-size: 16px;
  display: block;
}

.other-service-header{
  display: inline-block;
  padding: 0.3rem 0.5rem  ;
  background-color: #192a5e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}

.container-all-services{
  display:flex;
  gap: 1rem;
  align-items: stretch;
  padding: 0.55rem 1rem;
  border-radius: 4px;
  border: 1px solid #fc770aee;
}

.container-services-left, .container-services-right{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
  font-weight: 500;
}


.main-btn {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: inherit;
  font-weight: 500;
  border: none !important;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background-color: #fc770aee;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 4px;
}

.btn-text {
  display: flex;
  align-items: center;
}

/* Hover effect */
.icon-btn:hover {
  background-color: #e68830ef;
}

/* Optional: active state */
.icon-btn.active {
  color: white;
}

.icon-transport {
  height: 20px;
  width: 20px;
}
