.btn-text {
  display: flex;
  align-items: center;
  padding-bottom: 0.1rem;
}

.partner-photo-wrap img {
  border-radius: 8px;
  width: 130px;
}
.partner-photo-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding-top: 12px;
  overflow: hidden;
}
.partner-photo-wrap img {
  border-radius: 8px;
  width: 130px;
}

.partner-info {
  padding: 9px 10px 10px;
  text-align: center;
}
.partner-name {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.container-main-btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
  align-items: center;
  justify-content: center;
}
.partner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-image {
  width: 120px; /* adjust size as needed */
  height: auto;
}

.login-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #1a1a1a;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  /* background: #f3f3f3; */
}

/* Avatar */
.profile-image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #333;
  object-fit: cover;
  background: #fff;
}

/* Name */
.profile-name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
}

/* Email */
.profile-email {
  font-size: 13px;
  /* color: #555; */
  margin-top: 4px;
}

/* Logout */
.profile-logout {
  margin-top: 6px;
  font-size: 13px;
  color: #1e88e5;
  cursor: pointer;
}

/* Logout */
/* Overlay background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal box */
.modal-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

.modal-box h3 {
  margin-bottom: 10px;
}

.modal-box p {
  font-size: 14px;
  /* color: #555; */
  margin-bottom: 20px;
}

/* Buttons */
.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* Cancel button */
.btn.cancel {
  background: #e0e0e0;
}

/* Confirm button */
.btn.confirm {
  background: #1e88e5;
  color: white;
}

/* Animation */
@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 10px;
  /* background: #eaeaea; */
  border-radius: 8px;
}

/* Default tab */
.tab {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: transparent;
  transition: all 0.2s ease;
  padding: 15px 10px;
  border: 1px solid black;
  border-right: none;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
}

/* Active (light selected) */
.tab.active {
  background: #1e88e5;
  color: #fff;
  border-color: #1e88e5;
}

/* Blue active tab (like Beratervollmacht) */
.tab.active-blue {
  background: #1e88e5;
  color: #fff;
  border: 1px solid #1e88e5;
}

.tab:last-child {
  border-right: 1px solid black;
}

.tabs-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  flex-wrap: nowrap;
}

.attorney-berich {
  background-color: #fc770aee;
  /* margin-bottom: 20px; */
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  gap: 6px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.attorney-berich-green {
  background-color: #00a651;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  gap: 6px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.login-berich {
  display: flex;
  justify-content: center;
  background-color: #0085e0;
  color: #fff;
  padding: 10px 0;
  font-weight: 600;
}

.tab-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
}

.tab-text {
  line-height: 2;
  /* font-size: 13px; */
}

.login-text {
  line-height: 2;
  font-size: 13px;
}
.tab-header {
  font-weight: 600;
  margin-bottom: 10px;
}

.hint-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border-top: 1px solid #00a651;
  border-right: 1px solid #00a651;
  border-bottom: 1px solid #00a651;
  border-left: 4px solid #00a651;
  border-radius: 8px;
  padding: 15px 15px 15px 5px;
  /* background-color: #f5fff6; */
  gap: 15px;
}

.hint-content {
  flex: 1;
  font-size: 13px;
  /* color: #333; */
}

.hint-title-row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.hint-title-row img {
  width: 18px;
  height: 18px;
}

.hint-title {
  font-weight: bold;
  margin: 0;
}

.qr-section {
  border: 1px solid #999;
  padding: 5px;
  background: #fff;
}

.qr-section img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.power-section {
  font-size: 13px;
  /* color: #333; */
  line-height: 1.6;
}

.check-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.check-list li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;
}

/* Green check icon from assets */
.check-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  background: url('/assets/icons/Kreis_Haken_gruen.png') no-repeat center;
  background-size: contain;
}

/* Signature canvas */
.signature-canvas {
  width: 100%;
  height: 100px;
  background: #fff;
  border-radius: 6px;
  cursor: crosshair;
  /* border: 1px solid #ccc; */
}

/* Clear button */
.clear-btn {
  margin-top: 5px;
  font-size: 12px;
  background: none;
  border: none;
  color: #1e88e5;
  cursor: pointer;
}

.signature-actions {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
.success-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #00a651;
  border-radius: 8px;
  padding: 15px;
  /* background-color: #f5fff6; */
  gap: 15px;
  width: 50%;
}

.failed-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #fc770aee;
  border-radius: 8px;
  padding: 15px;
  /* background-color: #f5fff6; */
  gap: 15px;
  width: 50%;
}
.success-row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.success-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.success-row img {
  width: 18px;
  height: 18px;
  margin-top: 3px; /* aligns nicely with text */
}
.success-title img {
  width: 18px;
  height: 18px;
}

.success-content {
  flex: 1;
}

.input-field .material-symbols-outlined {
  font-size: 18px;
  color: #888;
  flex-shrink: 0;
}

.field-wrap .material-symbols-outlined {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* ══════════════════════════════════════════════
   PASSWORD GUIDELINES
══════════════════════════════════════════════ */
.password-guidelines {
  display: flex;
  flex-direction: column;
}

.guideline-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.guideline-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Green tick */
.guideline-icon.valid {
  background-image: url('/assets/icons/Kreis_Haken_gruen.png');
}

/* Red cross */
.guideline-icon.invalid {
  background-image: url('/assets/icons/cross.png');
}

.btn-back,
.btn-password,
.btn-next {
  font-size: 16px;
  color: #0085e0;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  background-color: #fff;
}

.login-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 18px;
}

/* ══════════════════════════════════════════════
   PHONE / EMAIL ROW
══════════════════════════════════════════════ */
.email-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.prefix-input {
  width: 70px;
  flex-shrink: 0;
  justify-content: center;
  background: #f0f0f0;
}

.prefix-input input {
  text-align: center;
  font-weight: 600;
  color: #444;
}

/* ══════════════════════════════════════════════
   INPUT FIELDS
══════════════════════════════════════════════ */
.input-field {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #4a4949;
  border-radius: 8px;
  padding: 8px 12px;
  background: #fff;
  transition: border-color 0.15s;
  position: relative;
}

.input-field.field-error {
  border-color: #cc0000;
}

.input-field input {
  background: transparent;
  /* box-sizing: border-box; */
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  /* padding: 8px 40px; */
  width: 100%;
  border: none;
}

.input-field .material-symbols-outlined {
  font-size: 18px;
  color: #888;
  flex-shrink: 0;
}
.pw-toggle {
  cursor: pointer;
  /* color: #888; */
  font-size: 18px !important;
  flex-shrink: 0;
  transition: color 0.15s;
}

.pw-toggle:hover {
  color: #0085e0;
}

.code-inputs {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
}

.code-inputs input {
  width: 70px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: none;
  outline: none;
  border-right: 1px solid black;
}

.code-inputs input:last-child {
  border-right: none;
}

.service-tabs-container {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
}

.service-tab {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  background: transparent;
  color: black;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease;
  flex: 1;
}

/* Active tab */
.service-tab.active {
  background-color: #1e88e5;
  color: #fff;
  border: none;
}

.form-group.full {
  width: 100%;
}

.textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: inherit;
  font-size: 14px;
}

