.header {
    background-color: #fff;
    padding: 0.6rem 4rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.logo-img {
    height: 50px;
}

.header-search {
    flex: 1;
    max-width: 20%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 2px;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.header-search:focus-within {
    border-color: #00a651;
    background-color: #fff;
}

.search-input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 8px 10px;
    font-size: 14px;
    outline: none;
}

.search-btn {
    background-color: #192a5e;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
}

.search-btn:hover {
    background-color: #4b70dd;
}

.expert-container {
  display: flex;
  gap: 0.5rem;
}

.expert {
  justify-content: center; /* vertically center within li */
  text-decoration: none;
  color: #253f8e;
  font-weight: 550;
  font-size: 16px;
}

.phone-number {
  display: block;       /* makes it appear on a new line */
  font-size: 16px;
  font-weight: 550;
}


.contact-button {
  flex: 1;
  padding: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.contact-button {
  background-color: #ff8e31ee;
  color: white;
}

.contact-button:hover {
  background-color: #f77904ee;
}

.header-right {
  display: flex;
  padding: 5px 5px;
  align-items: center;
  gap:5px
}

.login-link {
    text-decoration: none;
    color: #192a5e;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  line-height: 0;
  border: none !important;
  box-shadow: none;
  outline: none;
}

.login-link:hover, icon-circle .person:hover{
  color: #4b70dd;
  transform: scale(1.05);
}

.icon-circle mat-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #192a5e;
}

.phone mat-icon {
  font-size: 2rem;
  color: #ff8e31ee;
  padding: 0px 2px;
  margin-top: 6px;
}

.person mat-icon {
  font-size: 1.5rem;
}
