<div class="card" style="border: 1px solid #003366;">
  <div class="card-header" style="background-color:#003366; text-align: center; ">
    Ihr persönlicher Ansprechpartner
  </div>
  <div class=" partner-photo-wrap">
    <img src="assets/images/MM.png" alt="Familienbetrieb">
  </div>
  <div class="partner-info">
    <div class="partner-name">Manuel Markovic</div>
    <div class="container-main-btn">
      <button class="main-btn partner-btn">
        <span class="container-services">
          <img src="assets/icons/Telefonhörer_Weiss.png" class="icon-telephone" alt="telephone">
        </span>
        <span class="btn-text">08157 / 999 42-0</span>
      </button>
      <button class="main-btn partner-btn">
        <span class="container-services">
          <img src="assets/icons/Mail.png" class="icon-email" alt="email">
        </span>
        <span class="btn-text">mm@energiehandel.bayern</span>
      </button>
    </div>
  </div>
</div>
