/*start of container discount*/

.container-discount{
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem 0.4rem 1rem;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: green;
  margin: 0.6rem 0rem;

}

.container-partner{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
