.home-container {
  display:flex;
  margin: 30px 0px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  gap:3.5rem;
  gap: 3.5%;
  min-height: 20rem;
  background-image: url('/assets/images/manaslu.jpg');
  background-size: cover;      /* fill container */
  background-position: center;  /* center the image */
  background-repeat: no-repeat;
  width: 100%;
}

.home-left{
  display: flex;
  flex-direction: column;
  gap:1rem;
  margin: 0.6rem 0rem 0.5rem 1.5rem;
  border-radius: 8px;
  width: 16.5%;
}

.home-center{
  min-width: 32rem;
  margin: 0.6rem 0rem 1.5rem 0rem;
  border-radius: 8px;
  width: 30%;
}

.home-right{
  display: flex;
  flex-direction: column;
  gap:1rem;
  width: 20%;
  padding: 2rem 0.5rem;
}

.item-provider {
  color: #192a5e;
  font-size: 40px;
  font-weight: 800;
  text-shadow:
                -1px -1px 0 #ffffff,
                1px -1px 0 #ffffff,
                -1px 1px 0 #ffffff,
                1px 1px 0 #ffffff,
                -1px 0px 0 #ffffff,
                1px 0px 0 #ffffff,
                0px -1px 0 #ffffff,
                0px 1px 0 #ffffff;
}

.discount-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00a651;
  color: #ffffff;
  margin-top: 6rem;
  width: 11rem;
  height:11rem;
  border-radius: 50%;
  transform: rotate(-9deg);
  box-shadow: 5px 10px 5px #303030;
}

.item-discount-top {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.item-discount-bottom {
  padding-left: 1rem;
}

.item-price {
  font-size: 25px;
  font-weight: 500;
}

.amount {
  font-size: 50px;
  font-weight: 700;
}

.info-icon {
  vertical-align: super;
  position: relative;
  margin-left: 0px;
  cursor: pointer;
  color:  #ffffff;
  font-size: 0.7em;
  font-weight: 500;  /* controls the “i” size */
  border-radius: 50%;
  top: 0.4em;
  left: -0.3em;
}

.electricity-container{
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  border-radius: 8px;
  width: 100%;
}

.service-container {
  border-radius: 8px;
}

.container-us{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  padding: 0.6rem 1.75rem;
}

.container-about{
  flex: 1.9;
}

.container-other-services {
  flex: 1.3;
}
.container-contact-us {
  flex: 0.68;
}

.main-container-service{
  background-color: #ffffff;
  font-size: 16px;
  display: block;
}

.other-service-header, .header-contact-us{
  padding: 0.3rem 0.5rem ;
  background-color: #192a5e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.other-service-header {
  display: inline-block;
}

.header-contact-us {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.container-contact {
  display: flex;
  width: 100%;
  box-sizing: border-box; /* ensures same width as header */
}

.contact-us {
  flex: 1;
  display:flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.container-all-services, .container-contact{
  display:flex;
  justify-content: space-between;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 2px solid #192a5e;
}

.container-all-services {
  border-top-right-radius: 8px;
  gap: 1rem;
  padding: 0.9rem 1rem;
}

.container-contact{
  display: inline-block;
  padding: 0.5rem 1rem;
}

.container-services-left, .container-services-right{
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-weight: 500;
  align-items: flex-start;
}

.main-btn {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: inherit;
  font-weight: 500;
  border: none !important;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background-color: #fc770aee;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 8px;
}

.btn-text {
  display: flex;
  align-items: center;
}

/* Hover effect */
.icon-btn:hover {
  background-color: #e68830ef;
}

/* Optional: active state */
.icon-btn.active {
  color: white;
}

 .icon-telephone, .icon-whatsapp, .icon-wechat, .icon-transport {
  height: 20px;
  width: 20px;
}

.icon-email {
  padding: 2.5px 0px;
  height: 15px;
  width: 20px;
}





