.home-container {
  display:flex;
  margin: 30px 0px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  gap: 4.5%;
  background-image: url('/assets/images/Slider_3_Strom_und_Gasvergleich_1920_700.png');
  background-size: cover;      /* fill container */
  background-position: center;  /* center the image */
  background-repeat: no-repeat;
  width: 100%;
  height:29rem;
}

.home-left{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  margin: 0.6rem 0rem 0.5rem 1.5rem;
  border-radius: 8px;
  width: 16.5%;
}

.electricity-container{
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  border-radius: 8px;
  width: 100%;
}

.service-container {
  display: flex;
  border-radius: 8px;
  width: 100%;
}

.home-center{
  min-width: 32rem;
  margin: 0.6rem 0rem 1.5rem 0rem;
  border-radius: 8px;
  width: 30%;
}

.home-right{
  display: flex;
  flex-direction: column;
  gap:1rem;
  width: 20%;
  padding: 2rem 0.5rem;
}


/*  -----------------------------  electricity ----------------------- div */
.electricity {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  box-sizing: border-box;
  border: 1px solid #003366;
  font-weight: 500;
  border-radius: 8px;
  width: 100%;
}

.icon-btn-electricity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 500;
  border: none !important;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background-color: #003366;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 6px;
  height: 32px;

}

.icon-btn-electricity:hover {
  background-color: #1976d2;

}

/* Optional: active state */
.icon-btn-electricity.active {
  color: #1976d2;
}

.icon {
  height: 20px;
  width: 15px;
}

.icon-cable {
  height: 20px;
  width: 13px;
  padding-right: 2px;
}

.icon-pump {
  height: 15px;
  width: 15px;
}

.btn-text {
  padding-bottom: 0.2rem;
}
/* ----------------------*/


/* ---------------------------------------------- our services  ------------------------------ */
.service-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 500;
  height: 100%;
}

.our-services-header{
  background-color: #ff6b00;
  padding: 0.2rem 0.3rem 0.4rem 0.3rem;
  font-size: 16px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #ffffff;
}

.container-items {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ff6b00;
  padding: 8px 0px;
}

.icon-btn-service {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none !important;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.icon-btn-service:hover {
  /* background-color: #e0e0e0; */
}

.icon-check{
  height: 25px;
  width: 25px;
}

.btn-header-text {
  padding-left: 0.2rem;
}

/* --------- */

/* -------------------------------------------------- home right  ----------------------------------------- */
.item-provider {
  color: #192a5e;
  font-size: 40px;
  font-weight: 800;
  text-shadow:
                -1px -1px 0 #ffffff,
                1px -1px 0 #ffffff,
                -1px 1px 0 #ffffff,
                1px 1px 0 #ffffff,
                -1px 0px 0 #ffffff,
                1px 0px 0 #ffffff,
                0px -1px 0 #ffffff,
                0px 1px 0 #ffffff;
}

.discount-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00a651;
  color: #ffffff;
  margin-top: 6rem;
  width: 11rem;
  height:11rem;
  border-radius: 50%;
  transform: rotate(-9deg);
  box-shadow: 5px 10px 5px #303030;
}

.item-discount-top {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.item-discount-bottom {
  padding-left: 1rem;
}

.item-price {
  font-size: 25px;
  font-weight: 500;
}

.amount {
  font-size: 50px;
  font-weight: 700;
}

.info-icon {
  vertical-align: super;
  position: relative;
  margin-left: 0px;
  cursor: pointer;
  color:  #ffffff;
  font-size: 0.7em;
  font-weight: 500;  /* controls the “i” size */
  border-radius: 50%;
  top: 0.4em;
  left: -0.3em;
}
/* ------------------------------- end of home right ---------------------------------------------- */

.container-services-by-company{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  padding: 0.6rem 1.75rem;
  background-color: red;
  align-items: stretch;
}

.container-other-services {
  flex: 1.3;
}
.container-contact-us {
  flex: 0.68;
}

.container-about,
.container-other-services,
.container-contact-us {
  display: flex;         /* allow flex children to grow if needed */
  flex-direction: column;
  height: 100%;          /* take full height from parent */
}

/* -----------------------------------------------------  about us  ----------------------- */
.container-about{
  display: flex;
  flex: 1.9;
  background-color: #ffffff;
  font-size: 16px;
  display: block;
}

.container-header{
  display: inline-block;
  padding: 0.3rem 0.5rem  ;
  background-color: #192a5e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.container-details{
  display:flex;
  gap: 1rem;
  align-items: stretch;
  padding: 0.6rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #192a5e;
}

.image {
  flex: 0.3;
  display: flex;
}

.about-text {
  flex: 0.7;
  font-size: 14px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-header {
  font-size: 16px;
}

/* ---------------- */

/* ---------------------------------------------------------- other services --------------------------- */
.main-container-service{
  background-color: #ffffff;
  font-size: 16px;
  display: block;
}

.other-service-header, .header-contact-us{
  padding: 0.3rem 0.5rem ;
  background-color: #192a5e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.other-service-header {
  display: inline-block;
}

.header-contact-us {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.container-contact {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.contact-us {
  flex: 1;
  display:flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.container-all-services, .container-contact{
  display:flex;
  justify-content: space-between;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #192a5e;
}

.container-all-services {
  border-top-right-radius: 8px;
  gap: 1rem;
  padding: 0.9rem 1rem;
}

.container-contact{
  display: inline-block;
  padding: 0.5rem 1rem;
}

.container-services-left, .container-services-right{
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-weight: 500;
  align-items: flex-start;
}

.main-btn {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: inherit;
  font-weight: 500;
  border: none !important;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background-color: #fc770aee;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 8px;
}

.btn-text {
  display: flex;
  align-items: center;
  padding-bottom: 0.1rem;
}

.icon-btn:hover {
  background-color: #e68830ef;
}

.icon-btn.active {
  color: white;
}

 .icon-telephone, .icon-whatsapp, .icon-wechat, .icon-transport {
  height: 20px;
  width: 20px;
}

.icon-email {
  padding: 2.5px 0px;
  height: 15px;
  width: 20px;
}

/*  -------------------------- responsive design ---------------- */

@media (min-width: 1600px) {

  home-left{
    width: 16.5%;
  }
}


@media (min-width: 1900px) {
  .home-left{
    width: 13.1%;
  }
}

