.service-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 500;
  height: 100%;
}

.our-services-header{
  background-color: #ff6b00;
  padding: 0.2rem 0.3rem 0.4rem 0.3rem;
  font-size: 16px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #ffffff;
}

.container-items {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ff6b00;
  padding: 8px 0px;


}

.icon-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none !important;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
}

/* Hover effect */
.icon-btn:hover {
  background-color: #e0e0e0;
}

.icon-btn-service {
  background-color: #df8f19;
  border-radius: 8px;
}

.icon-check{
  height: 25px;
  width: 25px;
}

.btn-header-text {
  padding-bottom: 0.rem;
}
