.main-nav {
  background-color: #003366;
  padding: 0.3rem 0rem 0.3rem 1.75rem;
  display: flex;
  align-items: center;
}

.home-icon{
  display: flex;
  width: 33px;
  height: 33px;
  background-color: #0085e0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
}

.main-nav ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0;
  background-color: #003366;
  padding: 0rem 1.75rem 0rem 1.75rem;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 1.5rem;

}

.main-nav ul li {
  display: flex;
  align-items: center;
  min-width: 0;
}

.main-nav ul li a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  transition: color 0.3s;
  line-height: 1;
}

.main-nav ul li a .small-text {
  display: block;
  font-size: 11px;
  line-height: 1;
}

.nav-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
}

.nav-text:hover{
  color: #0085e0;
}

.small-text {
  font-size: 0.75rem;
  opacity: 0.8;
}

.main-nav ul li {
  display: flex;
  align-items: center;
  min-width: 0;
}

.main-nav ul li a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  transition: color 0.3s;
  line-height: 1;
}

.main-nav ul li a .small-text {
  display: block;
  font-size: 11px;
  line-height: 1;
}

.nav-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
}

.small-text {
  font-size: 0.75rem;
  opacity: 0.8;
}

.nav-icon-strom{
  width: 13px;
  height: 20px;
  padding-right: 0.25rem;
}

.nav-icon-gas {
  width: 16px;
  height: 20px;
   padding-right: 0.25rem;
}

.nav-icons-outlined{
  width: 27px;
  height: 22px;
  padding-right: 0.25rem;
}

.nav-icons-grosskunde {
  width: 23px;
  height: 23px;
  padding-right: 0.25rem;
}

.nav-icon-gewerbestrom {
  width: 27px;
  height: 22px;
   padding-right: 0.25rem;
}

.nav-icon-360 {
  width: 30px;
  height: 25px;
   padding-right: 0.25rem;
}

.nav-icon-home {
  width: 28px;
  height: 28px;
  background-color: #0085e0;
  border-radius: 50%;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.hamburger mat-icon {
  font-size: 30px;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #192a5e;
    flex-direction: column;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-links.active {
    max-height: 600px;
  }

  .nav-links li {
    padding: 1rem 2rem;
    border-top: 1px solid rgba(255,255,255,0.1);
  }

  .nav-links li a {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

}
