.main-nav {
    background-color: #192a5e;
    padding: 0.4rem 2rem 0.4rem 2rem;
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    margin: 0;

}

.main-nav ul li {
    display: flex;
    align-items: center; /* vertically center the link inside */
}

.main-nav ul li a {
    flex-direction: column; /* stack main text and small-text vertically */
    justify-content: center; /* vertically center within li */
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s;
    line-height: 1;
}

.main-nav ul li a .small-text {
    display: block;       /* makes it appear on a new line */
    font-size: 11px;
    line-height: 1;       /* remove extra space */
}

.material-icons-outlined{
  margin-top: 1px;
}
