<nav class="main-nav">
  <div class="container">
    <ul>
      <li><a href="#">
          <mat-icon class="material-icons-outlined">bolt</mat-icon>
          Stromvergleich
        </a></li>
      <li><a href="#">
          <mat-icon class="material-icons-outlined">local_fire_department</mat-icon>
          Gasvergleich
        </a></li>
      <li><a href="#">
          <mat-icon class="material-icons-outlined">factory</mat-icon>
          Gewerbestrom
        </a></li>
      <li><a href="#">
          <mat-icon class="material-icons-outlined">factory</mat-icon>
          Gewerbegas
        </a></li>
      <li><a href="#">
          <mat-icon class="material-icons-outlined">apartment</mat-icon>
          Großkunden<span class="small-text">(250.000 kWh/Jahr)</span>
        </a></li>
      <li><a href="#">
          <mat-icon class="material-icons-outlined">sync</mat-icon>
          360 Wechselservice
        </a></li>
      <li><a href="#">
          <mat-icon class="material-icons-outlined">alarm</mat-icon>
          Tarifwecker
        </a></li>
    </ul>
  </div>
</nav>
