<nav class="main-nav">
  <div class="home-icon">
    <img src="assets/icons/Startseite.png" class="nav-icon-home" alt="home">
  </div>
  <div class="container nav-wrapper">

    <button class="hamburger" (click)="toggleMenu()">
      <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li (click)="closeMenu()">
        <a routerLink="#" (click)="closeMenu()">
          <img src="assets/icons/Stromvergleich.png" class="nav-icon-strom" alt="stromvergleich">
          <span class="nav-text">
            Stromvergleich
          </span>
        </a>
      </li>
      <li>
        <a routerLink="#" (click)="closeMenu()">
          <img src="assets/icons/Gasvergleich.png" class="nav-icon-gas" alt="gasvergleich">
          <span class="nav-text">Gasvergleich</span>
        </a>
      </li>
      <li>
        <a routerLink="#" (click)="closeMenu()">
          <img src="assets/icons/Gewerbestrom.png" class="nav-icon-gewerbestrom" alt="gewerbestrom">
          <span class="nav-text">Gewerbestrom</span>
        </a>
      </li>
      <li>
        <a routerLink="#" (click)="closeMenu()">
          <img src="assets/icons/Gewerbegas.png" class="nav-icons-outlined" alt="gewerbegas">
          <span class="nav-text">Gewerbegas</span>
        </a>
      </li>
      <li>
        <a routerLink="#" (click)="closeMenu()">
          <img src="assets/icons/Grosskunde_2.png" class="nav-icons-grosskunde" alt="grosskunde_2">
          <span class="nav-text">
            Großkunden
            <span class="small-text">(250.000 kWh/Jahr)</span>
          </span>
        </a>
      </li>
      <li>
        <a routerLink="#" (click)="closeMenu()">
          <img src="assets/icons/360_Vergleich.png" class="nav-icon-360" alt="vergleichen">
          <span class="nav-text">360&deg; Wechselservice</span>
        </a>
      </li>
      <li>
        <a routerLink="#" (click)="closeMenu()">
          <img src="assets/icons/Tarifwecker_weiss.png" class="nav-icons-outlined" alt="tarifwecker">
          <span class="nav-text">Tarifwecker</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
