<div class="page-layout">

  <!-- ══════════ SIDEBAR ══════════ -->
  <div class="sidebar">
    <app-contact-person></app-contact-person>
    <app-need-support></app-need-support>
  </div><!-- /sidebar -->

  <!-- ══════════ MAIN CONTENT ══════════ -->
  <div class="main-content">

    <!-- Progress stepper -->
    <div class="progress-card">
      <div class="progress-header">Nur noch wenige Klicks zu Ihrem neuen Tarif</div>
      <div class="progress-steps">
        <div class="step active">
          <div class="step-circle">
            <div class="inner-circle">1</div>
          </div>
          <div class="step-label">Account</div>
        </div>
        <div class="step">
          <div class="step-circle">
            <div class="inner-circle">2</div>
          </div>
          <div class="step-label">Lieferadresse</div>
        </div>
        <div class="step">
          <div class="step-circle">
            <div class="inner-circle">3</div>
          </div>
          <div class="step-label">Anschlussdaten</div>
        </div>
        <div class="step">
          <div class="step-circle">
            <div class="inner-circle">4</div>
          </div>
          <div class="step-label">Zahlungsart</div>
        </div>

        <div class="step">
          <div class="step-circle">
            <div class="inner-circle">5</div>
          </div>
          <div class="step-label">Abschluss</div>
        </div>
      </div>
    </div>

    <div class="section-panel">
      <div class="section-header">
        Haben Sie schon einen Account bei uns?
      </div>
    </div>

    <div class="section-login">
      <div class="login-row">
        <div class="form-group">
          <div class="login-header">Wenn ja, loggen sie sich bitte ein, damit der Auftrag in Ihrem Account gespeichert
            wird.</div>
          <div class="login-text">Falls Sie noch keinen Account haben, registrieren Sie sich bitte jetzt.</div>
        </div>

        <div class="container-checkbox">
          <div class="field-wrap-checkbox">
            <label class="cb-row"><input type="checkbox" /></label>
            Weiter zur Registrierung
          </div>
          <div class="field-wrap-checkbox">
            <label class="cb-row"><input type="checkbox" /></label>
            Weiter zum Login-Bereich
          </div>
        </div>
      </div>


      <div class="container-login" *ngIf="currentStep === 'login'">
        <div class="login-berich">Login Berich</div>

        <div class="login-row">
          <div class="login-text">Melden Sie sich mit Ihrer E-Mail-Adresse an.</div>
          <div class="email-field">
            <div class="input-field">
              <span class="material-symbols-outlined">
                account_circle
              </span>
              <input name="email" type="email" value="max@mustermann.de" readonly>
            </div>
            <button class="btn-next" style="margin-left: 10px;">
              ändern
              <span><img src="assets/icons/Bearbeiten_schwarz.png" class="icon-check" alt="check"
                  style="margin-left: 8px;"></span>
            </button>
          </div>

          <div class="login-text">Geben Sie Ihr Passwort ein.</div>
          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort</span>
                <input name="password" type="password" value="manuel.markovic@gmx.net">
              </div>
              <span class="material-symbols-outlined">
                visibility_off
              </span>
            </div>
          </div>
          <button class="btn-password">
            Passwort vergessen?
          </button>
          <div class="field-reg">
            <label class="cb-row"><input type="checkbox" /></label>
            angemeldet bleiben
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button class="btn-back">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" (click)="goToStep('loggedIn')">Anmelden und weiter</button>
            </div>
          </div>
        </div>
      </div>






      <div class="container-login" *ngIf="currentStep === 'loggedIn'">
        <div class="login-berich" style="background-color:#00a651 ;">Bereits
          eingeloggt
        </div>
        <div class="login-row">
          <div class="email-field">
            <div class="input-field">
              <span class="material-symbols-outlined">
                account_circle
              </span>
              <input name="email" type="email" value="max@mustermann.de "
                style="background-color: #afadad; border: none;" readonly>
            </div>
            <span style="display:flex; align-items:center; padding-left: 20px;"><img src="assets/icons/Schloss.png"
                class="icon-schloss" alt="check"></span>
          </div>
          <div>
            <div class="login-text" style="margin-bottom: 10px;">Wir haben erkannt, dass Sie bereits mit der oben
              angezeigten E-Mail-Adresse
              eingeloggt
              sind. </div>
            <div class="login-text">Wollen Sie mit diesem Account fortfahren oder sich in einen anderen Account
              einloggen?</div>
          </div>
          <div class="container-checkbox">
            <div class="field-wrap-checkbox">
              <label class="cb-row"><input type="checkbox" /></label>
              Mit diesem Account fortfahren
            </div>
            <div class="field-wrap-checkbox">
              <label class="cb-row"><input type="checkbox" /></label>
              Mit einem anderen Account fortfahren
            </div>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button class="btn-back" (click)="goToStep('login')">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" (click)="goToStep('forgotPassword')">Weiter</button>
            </div>
          </div>
        </div>
      </div>




      <div class="container-login" *ngIf="currentStep === 'forgotPassword'">
        <div class="login-berich">Haben Sie Ihr Passwort vergessen?
        </div>
        <div class="login-row">
          <div class="login-text">Ihre E-Mail-Adresse: </div>
          <div class="email-field">
            <div class="input-field">
              <span class="material-symbols-outlined">
                account_circle
              </span>
              <input name="email" type="email" value="max@mustermann.de "
                style="background-color: #afadad; border: none;" readonly></div>
            <span style="display:flex; align-items:center; padding-left: 20px;"><img src="assets/icons/Schloss.png"
                class="icon-schloss" alt="check"></span>
          </div>
          <div class="login-text">Wir senden Ihnen einen Code an <strong>max@mustermann.de</strong>, um Ihr Passwort zu
            erneuern.</div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button class="btn-back" (click)="goToStep('loggedIn')">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" (click)="goToStep('generatedCode')">Code anfordern</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container-login" *ngIf="currentStep === 'generatedCode'">
        <div class="login-berich">Geben Sie den Code ein</div>
        <div class="login-row">
          <div class="login-text">Ihre E-Mail-Adresse: </div>
          <div class="email-field">
            <div class="input-field">
              <span class="material-symbols-outlined">
                account_circle
              </span>
              <input name="email" type="email" value="max@mustermann.de "
                style="background-color: #afadad; border: none;" readonly></div>
            <span style="display:flex; align-items:center; padding-left: 20px;"><img src="assets/icons/Schloss.png"
                class="icon-schloss" alt="check"></span>
          </div>
          <div class="login-text">Bitte geben Sie den Code ein, den wir an <strong>max@mustermann.de</strong> gesendet
            haben.</div>
          <div class="login-text">Code aus E-Mail eingeben</div>
          <div class="code-inputs">
            <input type="text" maxlength="1" autocomplete="one-time-code">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
          </div>

          <div class="login-text">Keinen Code erhalten? Bitte prüfen Sie auch Ihren Spam-Ordner.
            <span style="color:#0085e0 ;">Code erneut senden</span>
          </div>

          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button class="btn-back" (click)="goToStep('forgotPassword')">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" (click)="goToStep('verifyCode')">Code prüfen</button>
            </div>
          </div>
        </div>
      </div>



      <div class="container-login" *ngIf="currentStep === 'verifyCode'">
        <div class="login-berich">Bitte überprüfen Sie den Code</div>
        <div class="login-row">
          <div class="login-text"><strong>Der eingegebene Code stimmt leider nicht mit dem gesendeten Code
              überein.</strong> </div>
          <div class="login-text">Wir haben bereits einen neuen Code an Ihre E-Mail-Adresse gesendet. </div>
          <div class="email-field">
            <div class="input-field">
              <span class="material-symbols-outlined">
                account_circle
              </span>
              <input name="email" type="email" value="max@mustermann.de "
                style="background-color: #afadad; border: none;" readonly></div>
            <span style="display:flex; align-items:center; padding-left: 20px;"><img src="assets/icons/Schloss.png"
                class="icon-schloss" alt="check"></span>
          </div>
          <div class="login-text">Bitte geben Sie den Code erneut ein, den wir an <strong>max@mustermann.de</strong>
            gesendet haben.</div>
          <div class="login-text">Code aus E-Mail eingeben</div>
          <div class="container-code">
            <div class="code-inputs">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
            </div>
          </div>

          <div class="login-text">Keinen Code erhalten? Bitte prüfen Sie auch Ihren Spam-Ordner.
            <span style="color:#0085e0 ;">Code erneut senden</span>
          </div>

          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button class="btn-back" (click)="goToStep('generatedCode')">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" (click)="goToStep('changePassword')">Code erneut prüfen</button>
            </div>
          </div>
        </div>
      </div>


      <div class="container-login" *ngIf="currentStep === 'changePassword'">
        <div class="login-berich">Bitte geben Sie Ihr neues Passwort ein</div>
        <div class="login-row">
          <div class="login-text">Neues Passwort eingeben:</div>
          <div class="login-text">Bitte Passwort mit Groß- und Kleinbuchstaben sowie Zahlen und idealerweise auch
            Sonderzeichen verwenden.</div>
          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort</span>
                <input name="password" type="password" value="manuel.markovic@gmx.net">
              </div>
              <span class="material-symbols-outlined">
                visibility_off
              </span>
            </div>
          </div>

          <div class="login-text">Passwort wiederholen:</div>
          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort</span>
                <input name="password" type="password" value="manuel.markovic@gmx.net">
              </div>
              <span class="material-symbols-outlined">
                visibility_off
              </span>
            </div>
          </div>

          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button class="btn-back" (click)="goToStep('verifyCode')">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" (click)="goToStep('LoginFurther')">Neues Passwort absenden</button>
            </div>
          </div>
        </div>
      </div>


      <div class="container-login" *ngIf="currentStep === 'LoginFurther'">
        <div class="login-berich">Bitte loggen Sie sich mit Ihrem neuen Passwort ein</div>
        <div class="login-row">
          <div class="login-text">Geschafft! Bitte melden Sie sich mit Ihrer E-Mail-Adresse an.</div>
          <div class="email-field">
            <div class="input-field">
              <span class="material-symbols-outlined">
                account_circle
              </span>
              <input name="email" type="email" value="max@mustermann.de" readonly>
            </div>
            <button class="btn-next" style="margin-left: 10px;">
              ändern
              <span><img src="assets/icons/Bearbeiten_schwarz.png" class="icon-check" alt="check"
                  style="margin-left: 8px;"></span>
            </button>
          </div>

          <div class="login-text">Geben Sie Ihr neues Passwort ein.</div>
          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort</span>
                <input name="password" type="password" value="manuel.markovic@gmx.net">
              </div>
              <span class="material-symbols-outlined">
                visibility_off
              </span>
            </div>
          </div>
          <button class="btn-password">
            Passwort vergessen?
          </button>
          <div class="field-reg">
            <label class="cb-row"><input type="checkbox" /></label>
            angemeldet bleiben
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <button class="btn-back" (click)="goToStep('changePassword')">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" (click)="openPage()">Anmelden und weiter</button>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
